:root{
    --maincolor: #141414
}
body{
    background-color: var(--maincolor);
}


.nav-item a{
   color : #808382;
}

/* .nav-link.active {
color: #FFFFFF !important;
} */

.nav-item > .nav-link.active{
    color: #FFFFFF;
}

.container-fluid img{
    width: 100px;
    height: 100px;
}