* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

a{
    text-decoration: none;
    color: #FFFFFF
}

:root{
    --maincolor: #141414
}
body{
    background-color: var(--maincolor);
}


.nav-item a{
   color : #808382;
}

/* .nav-link.active {
color: #FFFFFF !important;
} */

.nav-item > .nav-link.active{
    color: #FFFFFF;
}

.container-fluid img{
    width: 100px;
    height: 100px;
}
.content{
    display: flex;
    align-items:  center;
    justify-content: space-between;
}
.left-side{
    display: flex;
    align-items: center;
}
.dropdown{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: 1px solid white;
    background-color: #000000;
    height: 30px;
    width: 150px;
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}
footer div{
    
    display: flex;
}